<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
    <!--div class="row" style="background-color:lightblue" align = "center">
        <div class="col-xs-12" align = "center">
            <app-quote></app-quote>
        </div>


        <div class="col-xs-12" style="background-color:blue">
            <app-vehicle></app-vehicle>

        </div>
    </div-->

<div class="col-xlg-12" align = "left">
    <div class="row">
        <div class="col-lg-12">
            <app-quote></app-quote>
        </div>
    </div>
</div>







